#dmrgLogo {
	float: left;
	padding: 5px 10px 5px 0;
}

#leftcolumn {
	float: left;
	background: #fafafa;
	min-width: 10%;
	max-width: 25%;
}

#leftcontent {
	padding-left: 2em;
	padding-right: 1em;
	float: left;
}

#leftTitle {
	font-weight: normal;
	font-size: 1.5em;
	padding-top: 1em;
	padding-bottom: 0;
	color: #111111;
	text-align: left;
}

span.firstcharacter {
  color: #111111;
  float: left;
  font-size: 50px;
  line-height: 40px;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 2px;
}

span.startOfParagraph {
	font-variant: small-caps;
}

span.typedText {
	font-family: monospace;
}

td.myhashes {
        font-family: monospace;
	line-height: 2em;
        font-size: 1em;
        padding-left: 1em;
}

.myemph {
	font-weight: bold;
}

a[href^="http://"]:after {
	content: url(IconExternalLinkRed.png);
	padding-right: 5px;
}

a[href^="https://"]:after {
	content: url(Icon_External_Link.png);
	padding-right: 5px;
}

a[href*="//g1257.github.io/"]:after {
	content: '';
	margin: 0;
}

table.horiz {
    border-collapse: collapse;
    width: 100%;
}

tr.horiz {
    border-bottom: 1px solid #ccc;
}

th.horiz {
    text-align: left;
}


div.memo {
	background-color: #fafafa;
	color: #000000;
	display:block;
	padding: 10px;
	margin-bottom: 10px;
}

span.itemtitle {
	font-style: italic;
}

.leftInner {
	margin: 5px 0 5px 10px;
}

.leftOuter {
	margin: 5px 0 5px 10px;
}

.leftUlOuter {
	list-style-type: decimal;
}

.leftUlInner {
	list-style-type: lower-latin;
}

span.yellow {
	background-color: #ffff00;
	color: #000000;
	font-weight: bold;
}

div.yellow {
	background-color: #e4d430;
	color: #000000;
	font-weight: bold;
}

pre.terminal1 {
	padding:10px 10px 10px 23px;
	background-color: #fafafa;
	color: #0000CC;
}

.normallist {
	display:block;
	font-size: 12pt;
	line-height:30px;
}

.greenok {
	background: #2ECC40;
}

.redbad {
	background: #FF4136;
}

body, div, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background:  #ffffff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/* font-variant-numeric: oldstyle-nums; */
	font-size: 100%;
}

a:link, a:visited {
	color: #0074d9;
	text-decoration: none;
}

#all1 {
	width: 100%;
	background:  #ffffff;
	max-width: 75em;
	margin: auto;
}

h4 {
	margin-top: 1em;
}

h3 {
	margin-top:2em;
	margin-bottom: 1em;
}

h2 {
	font-weight: 600;
	padding-top: 2em;
	padding-bottom: 1em;
	color: #111111;
}

h1 {
	font-weight: 700;
	padding-top: 2em;
	padding-bottom: 2em;
	color: #111111;
	text-align: center;
}

.endofp {
	display: block;
	font-style: italic;
	text-align: left;
}

.endofp a {
	text-decoration: none;
}

.announce {
	display: block;
	background: #dddddd;
	padding: 2px 10px 10px 10px;
	border: 2px solid #0074D9;
}

.calleft {
	/* background: url(images/calendar.jpg) no-repeat center center; */
	border-style: solid;
	border-color: #e0f2ff;
	border-width: thin;
	display: block;
	float: left;
	height: 25px;
	width: 25px;
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
}

.calright {
	padding-top: 10px;
	display: block;
}

.showPlus {
	padding: 0.5em 0 0 1em;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}
