@import url("base.css");

#logocorner {
	height: 64px;
	background: #fafafa;
	/*background-image: url("images/imageH.png");
	background-repeat: no-repeat;
	background-position: center center;*/
	width: inherit;
}

#nav1 {
	height: 72px;
	padding: 60px 0 0 0;
	background: #e0f2ff;
	text-align: center;
}

#nav1 ul:after {
	content: "";
	clear: both;
	display: block;
}

#nav1 ul {
	background: #e0f2ff;
	padding: 0 1em;
	list-style: none;
	position: relative;
	display: inline-table;
}

#nav1 ul li {
	float: left;
	position: relative;
}

#nav1 ul li a {
	display: block;
	padding: 1em 1em;
	text-decoration: none;
	font-size: 18px;
	line-height: 22px;
}

#nav1 ul li a:hover {
	background: #80c6ff;
	color: #ffffff;
}

#activeItem {
	color: #ffffff;
	background: #80c6ff;
}

#contents {
	margin: 0 auto;
	padding-left: 2em;
	padding-bottom: 2em;
	max-width: 60em;
	overflow: hidden;
}

footer {
	display: block;
	clear: left;
	min-height: 50px;
	text-align: center;
	background: #ffffff;
	color: #000000;
}

