td.myhashes {
        font-family: monospace;
	line-height: 2em;
        font-size: 1em;
        padding-left: 1em;
}

h3 {
	margin-top:2em;
	margin-bottom: 1em;
}

.myemph {
	font-weight: bold;
}

a[href^="http://"]:after {
	content: url(IconExternalLinkRed.png);
	padding-right: 5px;	
}

a[href^="https://"]:after {
	content: url(Icon_External_Link.png);
	padding-right: 5px;
}

a[href*="//g1257.github.io/"]:after {
	content: '';
	margin: 0;
}

@media only screen {
span.yellow {
	background-color: #ffff00;
	color: #000000;
	font-weight: bold;
}

pre.terminal1 {
	padding:10px 10px 10px 23px;
	background-color: #fafafa;
	color: #0000CC;
}

.normallist {
	display:block;
	font-size: 12pt;
	line-height:30px;
}
}

.greenok {
	background: #2ECC40;
}

.redbad {
	background: #FF4136;
}

@media only screen {

body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
	margin: 0; padding: 0; border: 0;
}

body {
	background:  #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 25px;
}

/* unvisited link */
a:link {
	color: #0074d9;
	text-decoration: none;
}

/* visited link */
a:visited {
	color: #0074d9;
	text-decoration: none;
}

#all1 {
	width: 100%;
	background:  #ffffff;
}

#header {
	display: block;
	height: 50px;
	background: #0000cc;
}

nav {
	margin: 0px auto; 
	background: #0000aa;
	text-align: center;
}

nav ul ul {
	display: none;
}

nav ul li:hover > ul {
		display: block;
	}


nav1 ul {
	background: #0000aa;
	padding: 0 1em;
	list-style: none;
	position: relative;
	display: inline-table;
}

nav ul:after {
		content: ""; clear: both; display: block;
	}

nav ul li {
		float: left;
	}

nav ul li:hover {
			background: #0000cc;
		}

nav ul li:hover a {
				color: #fff;
			}
		
nav ul li a {
			display: block; padding: 1em 1em;
			color: #dddddd;	
			text-decoration: none;
			font-size: 18px;
			line-height: 22px;
		}
		
nav ul ul {
		background: #0000ee; padding: 0;
		position: absolute; top: 100%;
		text-align: left;
	}

nav ul ul li {
			float: none; 
			border-top: 1px solid #000000;
			border-bottom: 1px solid #eeeeee; position: relative;
		}

nav ul ul li a {
				padding: 1em 1em;
				color: #fff;
			}	
				nav ul ul li a:hover {
					background: #0000ee;
				}
		
nav ul ul ul {
		position: absolute; left: 100%; top:0;
	}

#activeItem {
	background: #0000ee;
}

#leftcolumn {
	min-width: 10%;
	max-width: 20%;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	background: #fafafa;
}

#contents {
	margin: 0 auto;
	padding-left: 2em;
	padding-bottom: 2em;
	width: 50%;
}

#contentsNoPanel {
	margin: 0 auto;
	padding-left: 2em;
	padding-bottom: 2em;
	width: 50%;
}

footer {
	display: block;
	clear: left;
	width: 100%; 
	height: 100%;
	min-height: 50px;
	text-align: center;
	background: #ffffff;
	color: #000000;
}

footer a:link {
        color: #000000;
	text-decoration: underline;
}

footer a:visited {
        color: #000000;
	text-decoration: underline;
}


h2 {
	font-weight: 600;
	padding-top: 2em;
	padding-bottom: 1em;
	color: #001f3f;
}

h1 {
	font-weight: 700;
	padding-top: 2em;
	padding-bottom: 2em;
	color: #001f3f;
	text-align: center;
}

p {
	font-variant-numeric: oldstyle-nums;
	font-feature-settings: "onum";
}

.endofp {
	display: block;
	font-style: italic;
	text-align: left;
}

.endofp a {
	text-decoration: none;
}

.announce {
	display: block;
	background: #f6d000; 
	padding: 2px 10px 10px 10px;
	border: 2px solid #0074D9;
}

.calleft {
	/* background: url(images/calendar.jpg) no-repeat center center; */
	border-style: solid;
	border-color: #0074d9;
	border-width: thin;
	display: block;
	float: left;
	height: 25px;
	width: 25px;
	margin-right: 10px;
	padding: 10px 10px 10px 10px;
}

.calright {
	padding-top: 10px;
	display: block;
	font-variant-numeric: oldstyle-nums;
	font-feature-settings: "onum";
}
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url("https://g1257.github.io/fonts/opensans/OpenSans-Light.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 300;
	src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("https://g1257.github.io/fonts/opensans/OpenSans-LightItalic.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"), url("https://g1257.github.io/fonts/opensans/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 400;
	src: local("Open Sans Italic"), local("OpenSans-Italic"), url("https://g1257.github.io/fonts/opensans/OpenSans-Italic.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("https://g1257.github.io/fonts/opensans/OpenSans-Semibold.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 600;
	src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("https://g1257.github.io/fonts/opensans/OpenSans-SemiboldItalic.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: local("Open Sans Bold"), local("OpenSans-Bold"), url("https://g1257.github.io/fonts/opensans/OpenSans-Bold.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 700;
	src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("https://g1257.github.io/fonts/opensans/OpenSans-BoldItalic.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 800;
	src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("https://g1257.github.io/fonts/opensans/OpenSans-ExtraBold.ttf");
}

@font-face {
	font-family: "Open Sans";
	font-style: italic;
	font-weight: 800;
	src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("https://g1257.github.io/fonts/opensans/OpenSans-ExtraBoldItalic.ttf");
}

