@import url("../base.css");

@media only screen {

#header {
	display: block;
	height: 50px;
	background: #0000ee;
	background: linear-gradient(#0000cc, #0000ee);
}

#nav1 {
	margin: 0px auto;
	background: #0000aa;
	text-align: center;
	clear: left;
	border-style: solid;
	border-color: #e4d430;
	border-width: 0px 0px 3px 0px;

}

#nav1 ul:after {
	content: "";
	clear: both;
	display: block;
}


#nav1 ul {
	background: #0000aa;
	padding: 0 1em;
	list-style: none;
	position: relative;
	display: inline-table;
}

#nav1 ul li {
	float: left;
	position: relative;
}

#nav1 ul li a {
	display: block;
	padding: 1em 1em;
	color: #dddddd;
	text-decoration: none;
	font-size: 18px;
	line-height: 22px;
}

#nav1 ul li a:hover {
	background: #0000cc;
	color: #ffffff;
}

#activeItem {
	background: #0000ee;
}

#leftcolumn {
	min-width: 10%;
	max-width: 20%;
	float: left;
	padding-left: 2em;
	padding-right: 1em;
	background: #fafafa;
}

#contents, #contentsNoPanel {
	margin: 0 auto;
	padding-left: 2em;
	padding-bottom: 2em;
	max-width: 60em;
	overflow: hidden;
}

footer {
	display: block;
	clear: left;
	min-height: 50px;
	text-align: center;
	background: #ffffff;
	color: #000000;
}

footer a:link {
        color: #000000;
	text-decoration: underline;
}

footer a:visited {
        color: #000000;
	text-decoration: underline;
}
}

